<tr>
  <td align="center" style="padding: 22px 20px 0; color: #a3a3a3; font-size: 12px; line-height: 1.6;">
    &copy; <%= new Date().getFullYear() %> <%= typeof appName !== "undefined" && appName ? appName : "PickOne" %>. Make better decisions together.<br />
    This is an automated message; please do not reply.
  </td>
</tr>
